@import "../../styles/variables.scss";

.dropdown {
    width: 100%;

    .btn-brand {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 0.6em;
        padding-right: 0.6em;
    }

    .dropdown-menu {
        min-width : 100%;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
        cursor    : default;
    }

    .dropdown-item {
        padding-left: 2em;
        color: $colorGray6;
        + .dropdown-item {
            border-top: 1px dashed rgba(0, 0, 0, 0.1);
        }
    }

    &:not(.multiple) .dropdown-item {
        &.selected, &:active {
            background: $colorBrand;
            color: #FFF;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

            .text-muted {
                color: rgba(255, 255, 255, 0.7) !important;
            }
        }

        &.selected:before {
            content: "✔";
            display: inline-block;
            width  : 1.2em;
            margin-left: -1.2em;
            text-align: center;
        }
    }

    &.multiple .dropdown-item {
        i {
            display: inline-block;
            width  : 1.5em;
            margin-left: -1.5em;
            text-align: center;
            color: $colorBrand;
        }

        &:active {
            background: #f8f9fa;
            text-shadow: none;
            color: $colorGray6;

            &:before {
                display: none;
            }
        }
    }
}