@import "../../styles/variables.scss";

svg.chart {
    
    .chart-big-text {
        font-size  : 46px;
        font-weight: 500;
        fill       : #000;
        text-anchor: middle;
    }

    .chart-small-text {
        font-size  : 22px;
        fill       : $colorGray6;
        text-anchor: middle;
    }

    .chart-smaller-text {
        font-size  : 14px;
        fill       : $colorGray6;
        text-anchor: middle;
    }

    .chart-arc-main {
        fill: none;
        stroke: $colorBrand;
        stroke-width: 20px;
    }

    .chart-arc-bg {
        fill: none;
        stroke: $colorGray4;
        stroke-width: 20px;
    }

    .chart-arc-normal {
        fill: none;
        // stroke: $colorBrand;
        stroke: rgb(74, 144, 226);
        stroke-width: 20px;
    }
    
    .chart-arc-mild {
        fill: none;
        stroke: rgb(124, 124, 176);
        stroke-width: 20px;
    }
    
    .chart-arc-moderate {
        fill: none;
        stroke: rgb(174, 104, 126);
        stroke-width: 20px;
    }

    .chart-arc-moderately-severe {
        fill: none;
        stroke: rgb(224, 84, 76);
        stroke-width: 20px;
    }

    .chart-arc-severe {
        fill: none;
        stroke: rgb(255, 64, 26);
        stroke-width: 20px;
    }
}