@import "../../styles/variables.scss";

.data-grid-wrapper {
  overflow: auto;
  overflow: overlay;
  max-height: 24em;
  border: 1px solid $colorGray4;

  table {
    margin-bottom: 0 !important;
    border-spacing: 0;
  }

  tbody {
    margin-top: -1px;
  }

  th {
    background: #EEE;
    position: sticky;
    top: 1px;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.05),
                -2px 0px 1px -2px $colorGray6 inset,
                0 -1.5px 1px -1px $colorGray5 inset,
                -0.5px -0.5px 0 0 #FFF,
                0 -1px 0 1px #DDD
                ; 
    text-shadow: 0 1px 0 #FFF;
    border: 1px solid transparent !important;
    line-height: normal;
    color: $colorGray6;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
  }

  td {
    box-shadow: -2px 0 0 -1px rgba(0, 0, 0, 0.2) inset;
    line-height: normal;
    color: $colorGray6;
    white-space: nowrap;

    &:last-child {
      box-shadow: none;
    }
  }

  tbody > tr:first-child {
    border: 0 none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}

.data-grid {
    tbody {
      background: #FFF;
    }

    tr {
      &:focus, &:active {
        outline: none;
        td {
          background: $colorBrand;
          border-color: $colorBrand;
          color: #FFF;
        }
      }
    }
}
