#sql-editor {
    /* height: 200px; */
    min-height: 100px;
    border: 1px solid #CCC;
    background: #FFF;
    /* overflow: hidden; */
}

#divider {
    height: 10px;
    cursor: row-resize;
    user-select: none;
    line-height: 2px;
    color: rgb(190, 190, 190);
    font-weight: 900;
    text-shadow: 1px 1px 1px #FFF;
    text-align: center;
}